---
import { Image } from 'astro:assets';
import AvatarImage from '../assets/avatar.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="台灣原生種程序猿／待過 4 年遊戲業以及 2 年 SOHO 經驗的有機認證碼農／2016 年加入某新創線上學習平台成為前端攻城獅／比起 UX 更重視 DX／AWS Certified SAA／INFJ-A"
	pubDate={new Date('May 10 2026')}
>
	<div style="text-align: center; margin-bottom: 2em;">
		<Image src={AvatarImage} width={120} height={120} alt="Avatar" style="border-radius: 50%; object-fit: cover;" />
	</div>
	<p>
		台灣原生種程序猿／待過 4 年遊戲業以及 2 年 SOHO 經驗的有機認證碼農／2016 年加入某新創線上學習平台成為前端攻城獅／比起 UX 更重視 DX／AWS Certified SAA／INFJ-A
	</p>
</Layout>
